<div class="formulario">
    <h1 class="titulo-formulario">Faça o seu Login</h1>
    <form action="/index.html" method="POST">
        <link rel="stylesheet" type="text/css" href="/styles.css">

      <div>
        <label id="email" for="email">E-mail: </label><br />
        <input class="email" type="email" name="email" placeholder="Digite seu e-mail" required /><br />
      </div>

      <div>
        <label id="senha" for="senha">Senha: </label><br />
        <input class="senha" type="password" name="senha" placeholder="Digite sua senha" required />
      </div>

      <div id="botoes">
        <input type="submit" name="botao" value="Entrar" class="entrar" />
      </div>
    </form>
  </div>