<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>AC1 - DevOps</title>
    <style>
      #conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }

      body {
        height: 95vh;
      }
    </style>
  </head>

  <body>
    <div id="conteudo">
      <h1>Obrigado por se cadastrar!</h1>
      <footer>AC1 de DevOps - Todos os direitos reservados - 2023</footer>
    </div>
  </body>
</html>